<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inspeccion de riesgos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
  <body>
    <form action="?Insert" method="POST">
    <table class="table">
        <!--<br>-->
        <thead class="table-dark">
            <tr>
                <th style="text-align:center;" colspan="10">FORMATO DE INSPECCION PARA CONSIGNAR LOS FACTORES DE RIESGO</th>
            </tr>
            
            <tr>
                <th colspan="3">
                    Empresa <select name="Empresa" id="inputempresa"  required> 
                    <option selected > ... </option>
                    {% for empresa in empresas %}
                     <option value="{{empresa.id}}"> {{empresa.Nombre}} </option>
                     {% endfor %}
                    </select>
                </th>

                <th colspan="2">
                    Área <input type="text" name="Area" id="inputarea" required>
                </th>

                <th colspan="3">
                    Elaborado <input type="text" name="Elaborado" id="inputelaborado" required>
                </th>
                    
            
                <th colspan="2">
                    Fecha <input type="date" name="fecha" id="inputfecha" required>
                </th>
            </tr>
        </thead>
        <tbody>    
         <tr>
            <th colspan="1">
                Grupo factor de riesgo
            </th>
            <th colspan="1">
                Código FR
            </th>
            <th colspan="1">
                Fuente FR
            </th>
            <th colspan="1">
                Sección afectada
            </th>
            <th colspan="1">
                Puesto afectado
            </th>
            <th colspan="1">
                No de expuestos
            </th>
            <th colspan="1">
                Grado de peligro <br>
            </th>
            <th colspan="1">
               Resultado
            </th>
            <th colspan="1">
                Método de control instalado
            </th>
            <th colspan="1">
                Método de control Recomendado
            </th>
         </tr>
         <tr>
            <td colspan="1">
                    <select name="FuentRiesgo" id="inputempresa"  required> 
                    <option selected > ... </option>
                    {% for grupo in grupoFact %}
                     <option value={{grupo.id_GF}}> {{grupo.Nombre}} </option>
                     {% endfor %}
                    </select>
            </td>
            <td colspan="1">
                    <select name="CodRiesgo" id="inputempresa"  required> 
                    <option selected > ... </option>
                    {% for grupo in codigoFact %}
                     <option value="{{grupo.id_CF}}"> {{grupo.Nombre}} </option>
                     {% endfor %}
                    </select>
            </td>
            <td colspan="1">
                <input type="text" name="FuentRiesgo">
            </td>
            <td colspan="1">
                <input type="text" name="SeccionAfect">
            </td>
            <td colspan="1">
                <input type="text" name="PuestAfect">
            </td>
            <td colspan="1">
                <input type="number" name="NumExp">
            </td>
            <td colspan="1">
                <label for="Probabilidad">P: <input type="number" id="Probabilidad" name="Probabilidad"></label> <br>
                <label for="Exposición">E: <input type="number" id="Exposición" name="Exposicion"></label> <br>
                <label for="Consecuencia">C: <input type="number" id="Consecuencia" name="Consecuencia"></label> <br>
            </td>
            <td colspan="1">
                <input type="text" name="Resultado"  id="Resultado" value="0" readonly>
            </td>
            <td colspan="1">
                <label>Descripcion:<input type="text" name="DescripcionMetodo"></label>
                <label>Fuente: <input type="radio" name="tipoMetodo" value="Fuente"></label>
                <label>Medio: <input type="radio" name="tipoMetodo" value="Medio"></label>
                <label>Hombre: <input type="radio" name="tipoMetodo" value="Hombre"></label>
            </td>
            <td>
                <label>Descripcion:<input type="text" name="DescripcionMetodoRec"></label>
                <label>Fuente: <input type="radio" name="tipoMetodoRec" value="Fuente"></label>
                <label>Medio: <input type="radio" name="tipoMetodoRec" value="Medio"></label>
                <label>Hombre: <input type="radio" name="tipoMetodoRec" value="Hombre"></label>
            </td>
         </tr>
        </tbody>
      </table>
      <button type="submit"> Enviar</button>
      </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script> 
        const resultado = document.getElementById("Resultado");
        const P = document.getElementById("Probabilidad");
        const E = document.getElementById("Exposición");
        const C = document.getElementById("Consecuencia");

        P.addEventListener('change', ActualizarValorResult);
        E.addEventListener('change', ActualizarValorResult);
        C.addEventListener('change', ActualizarValorResult);

        function ActualizarValorResult(){
            let Pr = P.value ? P.value : 0;
            let Ex = E.value ? E.value : 0;
            let Co = C.value ? C.value : 0;
            resultado.value = Pr*Ex*Co;
        }      
        
    </script>
  </body>
</html>
